<div id="header" ng-app>
    <div class="row">
        <div class="col-lg-6">
            
        </div>
        <div class="col-lg-3 ">
            <h2>PinPrueba</h2>
        </div>
        <div class="col-lg-3 text-center">
              <div class="dropdown" style="line-height: 6;">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="p-2"> {{user}} </span>
                </button>
              </div>
        </div>
    </div>

</div>
<div id="main">

<nav class="text-center" ng-click="$event.preventDefault()">
    <a href="/home" class="home" ng-click="active='home'">Equipos</a>
    <a href="/ping" class="projects" ng-click="active='projects'">Prueba</a>
    <a href="#" class="services" ng-click="active='services'">Estadisticas</a>
    <a href="#" class="contact" ng-click="active='contact'">Contacto</a>
</nav>

</div>

<div class="container">
<div class="card" style="width: 38rem;">
    <div class="card-head p-1">
        <div class="row">
            <div class="col-lg-10 text-center">
                <h3 >Equipos</h3>
            </div>
            <div class="col-lg-2" >
                <button class="btn btn-danger "><a (click)="test()" style="text-decoration:none !important;">Test Conexion</a></button>
            </div>
        </div>
        
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Equipo</th>
                <th scope="col">Ip</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let prueba of prueba">
                <td>{{ prueba.id }}</td>
                <td>{{ prueba.description }}</td>
                <td>{{ prueba.ip }}</td>
                <td>{{ prueba.status }}</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>